* {
    padding: 0; margin: 0;
}

canvas {
    background: #eee; display: block; margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    padding-top: 50px;
}

.start-button {
    width: 100px;
    margin: auto;
}

.scores {
    text-align: center;
}

.scores li {
    list-style: none;
    margin: auto;
}

.manual {
    height: 450px;
    width: 450px;
    position: absolute;
    top: 25px;
    left: 60px;
    background-color: #1c7aa7;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

.manual ul {
    list-style: none;
    padding-top: 100px;
}

.manual li {
    margin-bottom: 10px;
}

.manual-button {
    width: 100px;
}