body {
    text-align: center;
}

#board {
    width: 888px;
    margin: auto;
}

#myCanvas {
    margin-top: 20px;
    background-color: rgba(223, 226, 221, 0.5);
}

#button__game--play {
    margin-left: -25px;
}

.button__game {
    height: 40px;
    width: 140px;
    margin: 20px 40px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
}

.button__game:hover {
    background-color: #fff451;
}

.scores {
    margin-top: 20px;
    display: inline-block;
    height: 40px;
    width: 300px;
    border-radius: 10px;
}

#last-score {
    border: #fff451 solid 2px;
    margin-right: 50px;
    margin-left: -55px;
    background-color: #FFF9A0;
}

#best-score {
    border: #1c7aa7 solid 2px;
    margin-left: 50px;
    background-color: #6EAAC7;
}

.speaker__game {
    height: 35px;
    width: auto;
    margin-left: 820px;
    margin-bottom: -500px;
}

.speaker__game:hover {
    height: 37px;
}

#speaker--muted {
    display: none;
}

#info-button {
    height: 30px;
    width: auto;
    margin-bottom: 460px;
    margin-left: 10px;
}

