body {
    text-align: center;
}

#board {
    width: 888px;
    margin: auto;
}

#myCanvas {
    margin-top: 20px;
    background-color: rgba(223, 226, 221, 0.5);
}

#button__game--play {
    margin-left: -30px;
}

.button__game {
    height: 40px;
    width: 140px;
    margin: 20px 40px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
}

.button__game:hover {
    background-color: #fff451;
}

.speaker__game {
    height: 35px;
    width: auto;
    margin-right: 500px;
}

.speaker__game:hover {
    height: 37px;
}

#speaker--muted {
    display: none;
}

#info-button {
    height: 35px;
    width: auto;
    margin-bottom: 460px;
    margin-left: 30px;
}

