* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin-bottom: 60px;
    font-size: 50px;
    color: #59119b;
}

.clearfix::after {
    clear: both;
    content: '';
    display: block;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1c7aa7;
    height: 60px;
    z-index: 1;
    border-bottom: 1px solid #ffffff;
}

.topbar__logo {
    color: #a0e2ef;
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    margin-left: 20px;
}

.topbar__logo:hover {
    color: #fff451;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.navigation {
    float: right;
    background-color: #1c7aa7;
    position: relative;
}

.navigation__navigation-list-item {
    list-style: none;
    float: right;
    text-align: center;
    line-height: 59px;
    display: block;
    width: 100%;
}

#hamburger {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 59px;
    text-align: center;
    color: #ffffff;
    top: 0;
    right: 0;
}

.nav-hidden {
    display: none;
}

.navigation__navigation-list .navigation__navigation-list-item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.navigation__navigation-list-item:hover {
    background-color: #007bff;
    -webkit-transition: background-color 0.7s;
    -moz-transition: background-color 0.7s;
    -o-transition: background-color 0.7s;
    transition: background-color 0.7s;
}

.navigation__navigation-list-item:hover a {
    transform: scale(1.2);
    color: #fff451;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.active {
    background-color: #007bff;
}

body  {
    font-family: 'Roboto', sans-serif;
}

.hero {
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    padding-top: 60px;
}

.hero::after {
    content: "";
    background: url("../images/hero_background_circus.jpg");
    background-size: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-80%);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: bold;
    width: 100%;
}

.hero__lead {
    font-size: 3em;
    padding-bottom: 50px;
    color: #016ca7;
    text-shadow:
            -1px 0 #fff,
            0 1px 0 #fff,
            1px 0 0 #fff,
            0 -1px 0 #fff;
    font-weight: bold;
    margin-top: 80px;
}

.hero__slogan {
    font-size: 1.2em;
    line-height: 1.7em;
    color: #fff;
    text-shadow:
            -1px 0 #016ca7,
            0 1px 0 #016ca7,
            1px 0 0 #016ca7,
            0 -1px 0 #016ca7;
}

.hero__btn {
    display:inline-block;
    text-align: center;
    background-color: #016ca7;
    font-weight: bold;
    border: #016ca7 1px solid;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.hero__btn--text {
     text-transform: uppercase;
     color: #fff;
     letter-spacing: 0.2em;
}

.hero__btn--text:hover {
    color: #fff451;
    font-size: 1.1em;
    text-decoration: none;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

#timer {
    display:inline-block;
    text-align: center;
    background-color: #016ca7;
    font-weight: bold;
    color: #fff451;
    border: #016ca7 1px solid;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.main--padding {
    padding: 50px 0;
}

.features--short {
    text-align: center;
}

.features-icon__container--short {
    margin-bottom: 20px;
    font-size: 45px;
    text-align: center;
    color: #1c7aa7;
}

.features-icon__container--short {
    margin-top: 30px;
    margin-bottom: 5px;
}

div.features__description__container {
    padding-left: 35px;
}

.features-icon__container svg {
    margin-top: 30px;
}

.features__description--header {
    margin-top: 5px;
    margin-bottom: 15px;
}

.form_-body {
    background-color: #1c7aa7;
    width: 100%;
    text-align: center;
}

.form-_button--text {
    width: 70px;
    height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: none;
    display: inline-block;
    border-radius: 8px;
    color: #1c7aa7;
    box-shadow: 0 5px grey;
    outline: none;
}

.form-_button--text:hover {
    background-color: #fff451;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.form-_button--text:active {
    background-color: #d4d4d4;
    box-shadow: 0 2px grey;
    transform: translateY(3px);
}

.form__content--header {
    color: #fff;
    padding-bottom: 50px;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 3px grey;
}

.form__content--inputs {
    margin-bottom: 10px;
}

.form__button {
    padding-top: 30px;
}

::placeholder {
    text-align: center;
    font-style: normal;
    color: #1c7aa7;
}

.form__content--data {
    border: 1px solid rgba(209, 223, 232, 0.5);
    height: 30px;
    width: 200px;
    background-color: #fff;
    border-radius: 3px;
}

.form_content--info {
    margin-top: 30px;
    margin-bottom: 1px;
}

.form__content--text {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

.features-icon__container {
    text-align: center;
    margin-top: -30px;
    font-size: 40px;
    color: #1c7aa7;
}

.features__description {
    margin-bottom: 40px;
    font-size: 17px;
}

.features__description--header {
    color: #1c7aa7;
    font-size: 1.6em;
}

.team__header {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 15px;
    text-transform: uppercase;
    background: #1c7aa7;
    padding: 50px 0;
    margin-bottom: 40px;
}

.team__row {
    text-align: center;
}

.team-item__photo-container {
    height: 169px;
    width: 169px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    display: inline-block;
    background: #fff451;
    margin-top: 30px;
}

.team-item__photo {
    display: block;
    position: relative;
    height: 170px;
    width: auto;
    border-radius: 50%;
    filter: grayscale(70%);
    transform: rotateY(0deg);
    transition: all 0.8s ease-in;
}

.team-item__photo-links {
    height: 170px;
    width: 170px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background: #fff451;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    cursor: grab;
    cursor:-moz-grab;
    cursor:-webkit-grab;
}

.team-item__photo--link {
    text-decoration: none;
    font-size: 30px;
    padding: 0 3px;
    background: #1c7aa7;
    color: #fff451;
    opacity: 0;
    border-radius: 4px;
    position: absolute;
    transition: all 0.7s ease-in;
}

.team-item__photo--link-fb{
    top: 50%;
    left: 90%;
    transform: translateX(-50%) translateY(-100%);
}

.team-item__photo--link-in{
    top: 50%;
    left: 50%;
    transform: translateX(-100%) translateY(-50%);
}

.team-item__photo-container:hover .team-item__photo {
    transform: rotateY(180deg);
    animation-fill-mode: forwards;
    cursor: grab;
    cursor:-moz-grab;
    cursor:-webkit-grab;
    opacity: 1;
}

.team-item__photo-container:hover .team-item__photo-links {
    opacity: 0.55;
    display: inline-block;
}

.team-item__photo-container:hover .team-item__photo--link {
    opacity: 1;
}

.team-item__photo-container:hover .team-item__photo--link-fb{
    top: 50%;
    left: 100%;
    transform: translateX(-100%) translateY(-50%);
}

.team-item__photo-container:hover .team-item__photo--link-in{
    top: 50%;
    left: 0;
    transform: translateX(0%) translateY(-50%);
}

.team-item__photo--link:hover {
    color: #1c7aa7;
    text-decoration: none;
    background: #fff451;
}

.team-item__namebox {
    margin-top: 10px;
}

.team-item__namebox,
.team-item__description {
    padding: 0 20px;
}

.team-item__namebox--function,
.team-item__namebox--name {
    color: #1c7aa7;
}

.team-item__description--text {
    text-align: left;
}

.team-item__description--links {
    margin: 35px 0;
}

.team-item__description--link {
    color: #1c7aa7;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline;
    text-align: justify;
}

.team-item__description--links svg {
    font-size: 20px;
    margin-right: 15px;
}

footer {
    background-color: #1c7aa7;
    color: #ffffff;
}

.footer__footer-main {
    padding: 100px 0;
}

.mission__header {
    margin-bottom: 30px;
}

.footer__footer-main__social-media li {
    margin-bottom: 15px;
}

.footer__footer-main__social-media li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
}

.footer__footer-main__social-media svg {
    font-size: 40px;
    margin-right: 15px;
}

.footer__footer-main__social-media li:hover a{
    color: #fff451;
    transform-origin: left;
    transform: scale(1.2);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.footer__footer-main__mission {
    line-height: 25px;
}

.footer__footerbar {
    background-color: #007bff;
    height: 50px;
    text-align: center;
}

.footer__footerbar p {
    line-height: 50px;
}

.photo__active {
    animation-name: photo--scroll;
    animation-duration: 1s;
}

@keyframes photo--scroll {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: -15px;
    }
    100% {
        margin-top: 0;
    }
}

#cookie__container {
    position: fixed;
    font-size: 12px;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    border: 2px solid #fff451;
    border-radius: 15px;
    width: 100%;
    text-align: left;
}

#cookie__container::after {
    content: "";
    background-color: #fff451;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#cookie__container p {
    font-size: 11px;
    color: #016ca7;
    text-shadow: 0 1px 1px #1c7aa7;
    line-height: 1em;
}

.cookie-button {
    transform: translateX(50%);
}

/*@media (min-width: 576px) { ... }*/

@media (min-width: 768px) {

    .hero__lead {
        font-size: 5em;
    }

    .hero__slogan {
        font-size: 2em;
    }

    .hero__btn--text {
        font-size: 1.4em;
    }

    .hero__btn--text:hover {
        font-size: 1.45em;
    }

    .main--padding {
        padding: 80px 0;
    }

    .features {
        padding-top: 80px;
    }

    .features__description--text-short {
        font-size: 1.2em;
        margin: 15px;
    }

    .features__row {
        margin: 60px 0;
    }

    .features__description--header {
        font-size: 2em;
        padding-top: 10px;
    }

    .features__description {
        font-size: 17px;
    }

    .team-item__photo-container {
        margin-top: 0;
    }

    .team-item__namebox {
        margin-top: 30px;
    }
}

@media (min-width: 992px) {
    .navigation {
        background-color: transparent;
    }

    .navigation__navigation-list-item {
        width: initial;
        list-style: none;
        float: left;
        text-align: center;
        line-height: 60px;
        display: block;
    }

    .nav-hidden {
        display: initial;
    }

    #hamburger {
        display: none;
    }

    .image--container {
        background-color: #fff451;
        border: 1px solid #fff451;
    }

    .image__active {
        animation-name: image--scroll;
        animation-duration: 1s;
    }

    @keyframes image--scroll {
        0% {
            margin-left: -100px;
        }
        100% {
            margin-left: 0;
        }
    }
}
@media (min-width: 1200px) {
    #timer {
        top: 96.5%;
    }
}
