/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

.clearfix::after {
    clear: both;
    content: '';
    display: block;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1c7aa7;
    height: 60px;
    z-index: 1;
}

.logo {
    color: #a0e2ef;
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    margin-left: 20px;
}

.navigation {
    float: right;
}

.navigation-list-item {
    list-style: none;
    float: left;
    text-align: center;
    line-height: 60px;

}

.navigation-list-item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 30px;
}

.navigation-list-item:hover {
    background-color: #3e3ec1;
    -webkit-transition: background-color 0.7s ease-out;
    -moz-transition: background-color 0.7s ease-out;
    -o-transition: background-color 0.7s ease-out;
    transition: background-color 0.7s ease-out;
}

.hero {
    height: 100vh;
    background-image: url("../images/hero_background_circus.jpg");
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    padding-top: 60px;
}

.hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: #016ca7;
    text-shadow:
            -0.5px 0px #fff,
            0px 0.5px 0 #fff,
            0.5px 0px 0 #fff,
            0px -0.5px 0 #fff;
    font-weight: bold;
}

.hero__lead {
    font-size: 5em;
    padding-bottom: 50px;

}

.hero__slogan {
    font-size: 2em;
    line-height: 1.7em;
}

.hero__btn {
    background-color: #ffcc51;
    text-transform: uppercase;
    color: #1c7aa7;
    font-weight: bold;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.navigation-list-item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

h2 {
    margin-bottom: 60px;
    font-size: 50px;
    font-style: oblique;
    color: #59119b;
}

.form_body {
    background-color: #e5fffc;
    height: 600px;
    width: 100%;
    text-align: center;
    position: relative;
}

.form_button_text {
    width: 70px;
    height: 40px;
    font-weight: bold;
    border: none;
    text-align: center;
}

.form_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.form_content_inputs {
    margin-bottom: 10px;
}

.form_button {
    padding-top: 30px;
}

::placeholder {
    text-align: center;
    font-style: normal;
}

.form_data {
    border: 1px solid black;
    height: 30px;
    width: 200px;
    background-color: #cde3f7;
}
.form_info {
    margin-top: 30px;
}
.form_text {
    font-size: 15px;
}
.navigation-list-item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

html, body {
    margin:0;
    padding:0;
}

.feature {
    float:left;
    width:50%;
    display:block;
    border: 1px solid black
}

.feature-icon-container {
    float:left;
    text-align:center;
    padding-top:18px;
    width:40px;
}


.feature-description {
    width: calc(100% - 40px);
    float:left;
}

.clearfix::after {
    content:"";
    display:block;
    clear:both;
}


html, body {
    margin:0;
    padding:0;
}

.feature {
    float:left;
    width:50%;
    display:block;
    border: 1px solid black
}

.feature-icon-container {
    float:left;
    text-align:center;
    padding-top:18px;
    width:40px;
}


.feature-description {
    width: calc(100% - 40px);
    float:left;
}

.clearfix::after {
    content:"";
    display:block;
    clear:both;
}


